//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import './core/layout/docs/layout';

.table-comp tbody tr {
  cursor: pointer;
  &:hover {
    background: $gray-100;
  }
}

select option {
  text-transform: capitalize;
}

.stepper-item-clickable {
  cursor: pointer;
  &:hover {
    background: $gray-100;
  }
}
